$colors: (
  primary: #fbb03b,
  lightOrange: #fff3df,
  darkGrey: #333,
  white: #fff,
  red: #ff0000,
  paleGrey: #cecece,
);

$font-sizes: (
  small: 12px,
  medium-small: 14px,
  medium: 16px,
  medium-large: 24px,
  large: 32px,
  x-large: 48px,
  xx-large: 72px,
);

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
);
