footer {
  padding-top: 48px;
  padding-bottom: 58px;

  background-color: map-get($colors, primary);

  .shop {
    &-name {
      margin-bottom: 32px;

      font-size: 26px;
      font-weight: 700;
    }

    &-info-list {
      gap: 25px;
      margin-bottom: 25px;
    }

    &-info-item {
      text-align: center;
    }

    &-info-text {
      margin-left: 18px;
      font-size: 20px;
      text-align: center;
    }

    &-address {
      align-items: flex-start;
    }
  }
}
