.container {
  max-width: 1220px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.row {
  margin: -20px;

  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 20px;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: percentage(calc($i/12));
  }
}
