header {
  width: 100%;
  padding-top: 48px;

  position: fixed;
  z-index: 1;

  background-color: transparent;
}

.header-sm {
  display: none;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;

  color: #FBB03B;
}

.nav-icon-list {
  justify-content: flex-end;
}

.nav-icon-item {
  margin-left: 24px;
}

.section {
  position: relative;

  padding: 48px 0px;
}

.section-header {
  margin-bottom: 40px;
}

.section-title {
  font-size: 32px;
  font-weight: 300;
}

.section-title-center {
  text-align: center;
}

.section-banner {
  width: 100%;
  height: 800px;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./assets/images/eshop-banner.png") no-repeat;
  background-size: auto 100%;
}

.banner-infor-group {
  padding-top: 15vh;
  padding-left: 96px;
}

.banner-title {
  margin-bottom: 24px;

  max-width: 400px;

  font-size: 72px;
  line-height: 101.5%;
  font-weight: 700px;

  color: #FFFFFF;
}

.shop-now-link {
  align-items: center;
}

.shop-now-icon-wrapper {
  margin-right: 10px;

  width: 36px;
  height: 36px;

  background-color: #FBB03B;

  border-radius: 18px;
}

.shop-now-title {
  font-size: 24;
  font-weight: 700;
  line-height: 36px;
  text-decoration: underline;

  color: #FFFFFF;
}

.banner-offers-list {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  border-top-right-radius: 70px;
  padding-left: calc((100vw - 1152px)/2 + 96px - 24px);
  padding-right: 64px;

  background-color: #FFFFFF;
}

.banner-offer-item {
  padding: 38px 24px 24px 24px;
}

.banner-offer-icon-wrapper {
  margin-right: 20px;

  box-sizing: content-box;

  width: 36px;
  height: 36px;

  background-color: #FFF3DF;
  border-radius: 10px;
}

.banner-offer-title {
  font-weight: 700;
  font-size: 14px;
}

.banner-offer-description {
  font-weight: 400;
  font-size: 12px;

  max-width: 200px;
}

.category-list {
  flex-wrap: wrap;
  margin: 0px -10px;
}

.category-item {
  width: 100%;
  height: 360px;

  position: relative;
}

.category-title {
  max-width: 70%;

  position: absolute;
  top: 48%;
  left: 40px;

  font-size: 24px;
  font-weight: 400;

  color: #FFFFFF;
}

.category-link {
  position: absolute;
  left: 40px;
  bottom: 53px;

  background-color: #FFFFFF;
}

.category-list li:nth-child(1) .category-item {
  background-image: url("./assets/images/new-arrivals.png");
  background-size: cover;
}

.category-list li:nth-child(2) .category-item {
  background-image: url("./assets/images/basic-tshirt.png");
  background-size: cover;
}

.category-list li:nth-child(3) .category-item {
  background-image: url("./assets/images/summer-sale.png");
  background-size: cover;
}

.category-discount {
  left: 40px;
  top: 35%;
}

.recommendation-link {
  border: 1px solid #333333;
}

.product-item {
  position: relative;
}

.product-name {
  margin-top: 16px;

  font-size: 16px;
  font-weight: 300;

  color: #333333;
}

.product-discount {
  top: 24px;
  left: 18px;
}

.product-price {
  margin-bottom: 13px;

  font-size: 20px;
  font-weight: 400;
}

.discount-price {
  color: #FF0000;
}

.original-price {
  color: #CECECE;
}

.section-services {
  background-color: #F6F6F6;
}

.services-item-link:hover .services-title {
  color: #FBB03B;
}

.services-icon-wrapper {
  margin-bottom: 46px;

  width: 68px;
  height: 68px;

  border-radius: 20px;
  background-color: #FFFFFF;
}

.services-item-link .services-icon-hover {
  display: none;
}

.services-item-link:hover .services-icon {
  display: none;
}

.services-item-link:hover .services-icon-hover {
  display: inline-block;
}

.services-title {
  margin-bottom: 16px;

  font-size: 16px;
  font-weight: 700;
}

.section-newsletter {
  margin-bottom: 0px;

  height: 240px;

  position: relative;

  background-image: url("./assets/images/newsletter.png");
  background-size: cover;
}

.newsletter {
  padding: 85px 0px;
}

.newsletter-title {
  font-weight: 400;
  font-size: 24px;

  color: white;
}

.subscribe-form {
  justify-content: space-between;
}

.subscribe-input {
  padding: 10px 20px;
  margin-right: 30px;

  width: 75%;

  border: none;
  border-radius: 60px;

  background-color: #FFFFFF
}

.subscribe-button {
  padding: 14px 30px;
  border-radius: 56px;

  background-color: #FBB03B;
}

.footer {
  background-color: #FBB03B;

  color: white;
}

.infor-shop {
  padding: 46px 0px;

  justify-content: space-between;
}

.shop-description {
  margin-top: 24px;
  margin-bottom: 48px;

  font-size: 14px;
  font-weight: 400;
}

.socical-item {
  margin-right: 20px;
}

.infor-shop-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 16px;
}

.infor-shop-item,
.infor-shop-link {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 14px;

  color: white;
}

.copyright {
  padding: 24px 0px;

  border-top: 1px solid white;
}

.copyright p {
  font-size: 12px;
  font-weight: 400;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0px 24px;
  }

  .btn {
    padding: 3px 10px;

    font-size: 10px;
    font-weight: 700;
  }

  .badge {
    padding: 3px 5px;

    font-size: 8px;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .row {
    margin: -4px;
  }

  .col {
    padding: 4px;
  }

  header {
    background-color: #FFFFFF;
    padding: 16px 0px;
  }

  .header-lg {
    display: none;
  }

  .header-sm {
    display: flex;
    top: 0;
    left: 0;
  }

  .section {
    padding: 24px 0px;
  }

  .section-header {
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 18px;
    font-weight: 300;
  }

  .section-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("./assets/images/mobile-banner.png");
    background-size: cover;
  }

  .banner-title {
    font-size: 48px;
  }

  .banner-infor-group {
    padding: 0;
    padding-top: 45%;
  }

  .banner-offers-list {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .category-item {
    height: 224px;
  }

  .category-title {
    font-size: 14px;
    font-weight: 400;
    top: 60%;
    left: 16px;
  }

  .category-discount {
    left: 16px;
    top: 50%;
  }

  .category-link {
    left: 16px;
    bottom: 16px;
  }

  .product-name {
    margin-top: 4px;
    font-size: 12px;
  }

  .product-price {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .product-discount {
    top: 14px;
    left: 9px;
  }

  .product-image {
    height: 227px;
  }

  .newsletter {
    padding: 24px 0px;
  }

  .choose-us-title {
    margin-bottom: 36px;
  }

  .services-item-link {
    display: flex;
    flex-direction: row;
  }

  .services-title {
    font-size: 12px;
  }

  .services-description {
    font-size: 10px;
  }

  .services-icon-wrapper {
    margin-right: 16px;
    margin-bottom: 24px;
  }

  .services-detail {
    max-width: 243px;
  }

  .section-newsletter {
    background-image: url("./assets/images/mobile-newsletter.png");
  }

  .newsletter-title {
    font-size: 14px;

    max-width: 200px;
    margin-bottom: 24px;
  }

  .subscribe-form {
    flex-direction: column;
  }

  .subscribe-input {
    width: 100%;

    padding: 6px 12px;
    margin-bottom: 16px;
  }

  .subscribe-button {
    width: 120px;
    padding: 7px 20px;
  }

  .socical-list {
    display: none;
  }

  .infor-shop-item,
  .infor-shop-link {
    margin-bottom: 12px;
    font-size: 12px;
  }
}
