@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: $size-base;
  font-weight: map-get($font-weights, regular);
  font-style: normal;
  overflow-x: hidden;
  line-height: 1.2;
}

body {
  position: relative;
}

.img,
.icon {
  display: block;
  object-fit: cover;
}
